main{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.button{
    background-color: green;
}

.buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
